@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.verde{
    background: rgba(132, 203, 157, 0.56);
}
.roxo{
    background: rgb(94, 85, 132);
}

body{
    /* background: linear-gradient(to bottom, rgba(222, 15, 15, 0.2) 56.2%, rgba(255, 255, 255, 0.2) 96.15%), #FFFFFF; */
    background-image: linear-gradient(rgba(222, 15, 15, 0.2), rgba(255, 255, 255, 0.2));
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
   
}
.titulo{
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    display: flex;
    flex: row;
    gap: 20px;
    font-weight: 800;
    font-size: 25px;
    line-height: 65px;
    text-align: center;
    color: #530000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#pesquisa{
    text-align: center;
    align-items: center;
    margin: 30px;
}
.caixa-pesquisa{
    width: 18rem;
    height: 2.25rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 30px;
    background: #D9D9D9; 
    backdrop-filter: blur(2px);
    
    
}
.icone-pesquisa,.caixa-pesquisa{
    height: 2rem; 
    border: none;
    border-radius: 30px;
   
    
}
.icone-pesquisa{
    position:absolute;
    margin-left: -22px;
    cursor: pointer;
    background: none;
}

.caixa-pesquisa:focus{
    outline: none;
}

.card{
    width: 40vh;
    height: 40vh;
    background: linear-gradient(180deg, rgba(46, 237, 68, 0.2) 72.84%, rgba(210, 246, 190, 0) 100%), rgba(217, 209, 209, 0.54);
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 10px;
    margin-left: 82.5vh;
    transition: 0.6s;  	
    transform-style: preserve-3d;    	
    position: relative; 

}
.card:hover{
    transition: 1s;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#nome-pokemon{
    color: rgba(122, 209, 152, 1);
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    
}
.tipos{
    display: flex;
    margin: 10px;
    justify-content: center;
    gap: 30px;
 
}

.tipo{
    width: 20rem;
    border-radius: 20px;
    padding: 6px;
    line-height: 21px;
}
tr{
    margin: 10px;
}
/* ################## VIRAR CARD ##################*/
.card-container{
    perspective: 1000;
    
}
.card-container:active .card, .card-container.active .card {  		
    transform: rotateY(180deg);  	

}

.frente, .tras {  	

    backface-visibility: hidden;    	
    text-align: center;
    padding: 10px;
    margin: auto;
    top: 0;  	
    left: 0;  
    position: absolute;
}  
.frente ,.tras ,.card-container{
    width: 40vh;
    height: 40vh;
}  
.tras {
     z-index: 2; 
 }    
.tras { 
    transform: rotateY(180deg);
 }
