@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --verde-bg-color: rgba(96, 241, 147, 0.678);
    --roxo-bg-color:rgb(94, 85, 132);
    --vermelho-bg-color :rgba(148, 5, 5, 0.97);
    --laranja-bg-color :rgba(219, 112, 25, 0.858);
    --gelo-bg-color :rgba(160, 160, 237, 0.963);
    --azul-bg-color:rgba(93, 186, 214, 0.795);
    --azul-claro-bg-color:rgba(134, 213, 236, 0.925);
    --amarelo-bg-color:rgba(208, 220, 30, 0.795);
    --marrom-bg-color:rgba(150, 75, 0, 0.795);
    --marrom-acizentado-bg-color:rgba(250, 176, 101, 0.842);
    --rosa-bg-color:rgba(201, 33, 207, 0.795);
    --roxo-escuro-bg-color:rgba(106, 61, 154, 0.87);
    --aco-bg-color:rgba(102, 101, 102, 0.963);

  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    
}

.verde{
    background: rgba(132, 203, 157, 0.56);
}
.roxo{
    background: rgb(94, 85, 132);
}

body{
    background-image: linear-gradient(rgba(157, 212, 224, 0.674), rgba(161, 236, 205, 0.852));
    background-repeat: no-repeat;/*modifiqued*/
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.altura-body{
    height: 100%;
}
/* header{
    display: flex;
    width: 98vw;
    justify-content: flex-end;
    /* margin: 0 0 5px 5px; /
    padding: 10px;
} */

.titulo{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 30px auto;
    font-weight: 800;
    font-size: 25px;
    line-height: 65px;
    text-align: center;
    color: #530000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tipo-filtro-listar{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    color:#530000;
    margin: 0 auto;
    font-weight: 800;
    font-size: 30px;
}
#pesquisa{
    text-align: center;
    align-items: center;
    margin: 30px;
}
.caixa-pesquisa{
    width: 18rem;
    height: 2.25rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 30px;
    background: #D9D9D9; 
    backdrop-filter: blur(2px);       
}

.icone-pesquisa,.caixa-pesquisa{
    height: 2rem; 
    border: none;
    border-radius: 30px;  
}

.icone-pesquisa{
    position:absolute;
    margin-left: -22px;
    cursor: pointer;
    background: none;
}

.caixa-pesquisa:focus{
    outline: none;
}

.card-poke , .pesquisados{
    box-sizing: content-box;
    width: 25vw;
    height: 33vh;
    border-radius: 15px;
    box-shadow: 4px 4px 12px 1px  rgba(10, 91, 116, 0.38),inset 1px 1px 6px 1px  rgba(229, 241, 245, 0.557);
    text-align: center;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(rgba(163, 229, 244, 0.674), rgba(123, 168, 237, 0.852));
    
}
.card-poke:hover{
    box-shadow: 8px 8px 16px 4px  rgba(97, 100, 102, 0.38),inset 1px 1px 6px 1px  rgba(249, 249, 249, 0.557);
    transition: scale(1.5);
    height: 33.5vh;
}
.tipos{
    background-color: rgba(163, 229, 244, 0.674);
    width: 150px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}
#nome-pokemon{
    color: rgb(7, 17, 11);
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;   
}

.icone-ver-poke{
    width: 15vw;
    border: none;
    background: none;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: bottom;
    margin-top: 15px;    
}

.links-card{
    text-decoration: none;
    color: white;
    
}

.botao-listar a{
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.container-botao-listar{/*add*/
    display: flex;
    align-items: center;
    justify-content: center;
}/*obs: olhar ------.body------ */

#color-type-Poison{
    background: var(--roxo-bg-color);
}
#color-type-Fire , #color-type-Dragon{
    background: var(--vermelho-bg-color);
    color : white;
}
#color-type-Water{
    background: var(--azul-bg-color);
}
#color-type-Electric{
    background: var(--amarelo-bg-color);
}
#color-type-Grass, #color-type-Bug{
    background: var(--verde-bg-color);
}
#color-type-Flying{
    background: var(--azul-claro-bg-color);
}
#color-type-Ground{
    background: var(--marrom-bg-color);
}
#color-type-Psychic{
    background: var(--roxo-escuro-bg-color);
}
#color-type-Fighting{
    background: var(--laranja-bg-color);
}
#color-type-Fairy{
    background: var(--rosa-bg-color);
}
#color-type-Rock{
    background: var(--marrom-acizentado-bg-color);
}
#color-type-Steel{
    background: var(--aco-bg-color);
}


.listar-todos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.barra-navegacao{
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}
a .botao-navegacao {
    text-align: center;
    width: 10px;
    color: white;
    
    
}
.botao-navegacao{
    height: 60px;
    justify-content: center;
    align-items: center;
    border: #D9D9D9 1px;
    padding: 10px;
    border-radius: 29px;
    text-decoration: none;
    background-color: #E02222;
    color: white;
    text-align: center;
    display: flex;
    width: 60px;
}


.botao-home{
    display: flex;
    margin: 0;
    justify-content: flex-end;/*
    
    width: 98vw;
    justify-content: flex-end;
    /* margin: 0 0 5px 5px; 
    padding: 10px; */

}
.pesquisados{
    margin: 5rem auto;
    width: 25vw;
    height: 33vh;
}
.visualizando-pokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 30px;
}



.visualizando-pokemon a{
    text-decoration: none;
}
.voltar a{
    color: white;
}
.filtro-listar-todos{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 30px;
}
.filtro-listar-todos select{
    width: 150px;
    height: 40px;
    border-radius: 5px;
}

.filtro-listar-todos button{
    width: 150px;
    height: 40px;
}

.no_found_pokemon{
    margin: 0 auto;
}
