@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    /* background: linear-gradient(to bottom, rgba(222, 15, 15, 0.2) 56.2%, rgba(255, 255, 255, 0.2) 96.15%), #FFFFFF; */
    background-image: linear-gradient(rgba(222, 15, 15, 0.2), rgba(255, 255, 255, 0.2));
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
   
}
#pesquisa{
    text-align: center;
    align-items: center;
    margin: 30px;
}
.caixa-pesquisa{
    width: 18.65rem;
    /*
    height: 2.25rem; 
    background: #D9D9D9;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; */
    border: none;
    outline: none;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
    

}
.icone-pesquisa,.caixa-pesquisa{
    
    height: 2.25rem;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    background: #D9D9D9;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 15px;
}
.icone-pesquisa{
    /* margin-left: -25px; */
    /* width: 18.65rem;*/
    height: 2.25rem; 
    font-size: 15px;
    width: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left:-4.5px ;
}
.card{
    width: 40vh;
    height: 40vh;
    background: linear-gradient(180deg, rgba(46, 237, 68, 0.2) 72.84%, rgba(210, 246, 190, 0) 100%), rgba(217, 209, 209, 0.54);
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 10px;
    margin: auto;
}
#nome-pokemon{
    color: rgba(122, 209, 152, 1);
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}
