.poke-pesquisados{
    margin: 10px;
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-image: linear-gradient(rgba(163, 229, 244, 0.674), rgba(123, 168, 237, 0.852));
    
}
.poke-pesquisados:hover{
    box-shadow: 4px 4px 12px 1px  rgba(76, 82, 84, 0.38),inset 1px 1px 6px 1px  rgba(239, 243, 244, 0.557);
}
.poke-pesquisados a{
    text-decoration: none;
}
.poke-pesquisados button{
   border: none;
   background:none;

}
.pesquisados{
    margin: 20px 20%;
}